@import "tailwindcss";

:root {
  --verde: #009c3b;
  --amarelo: #FFDF00;
  --azul: #002776;
  --fundo: #0a1a0f;
  --fundo2: #0f2318;
  --card: #132b1a;
  --borda: #1e4028;
}

* { box-sizing: border-box; }

body {
  background-color: var(--fundo);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--fundo2); }
::-webkit-scrollbar-thumb { background: var(--verde); border-radius: 3px; }
